<div class="row">

  <div class="col d-flex justify-content-center">
  
    <div class="card">
  
      <div class="card-body">
        <p class="card-text"><strong>euller_hbo</strong></p>
      </div>

      <img class="card-img" src="https://user-images.githubusercontent.com/48317736/107711953-523d0100-6ca7-11eb-85e2-f695102516f7.png" />
      
      <div class="card-body">
  
        <p class="card-text">
          <strong>euller_hbo</strong> Foi um belo dia no parque!
        </p>

        <hr>

        <input 
          type="text" 
          class="form-control comentario"
          placeholder="Adicione um comentário..." 
        />

      </div>

    </div>

  </div>

</div>