.navbar {
    height: 77px;
    padding: 26px 40px;
    width: 100%;
    border-bottom: solid 1px #E6E6E6;
}

.logo {
    background-image: url('https://user-images.githubusercontent.com/48317736/107711822-08541b00-6ca7-11eb-9cb1-8ab1d3293bfb.png');
    width: 110px;
    height: 36px;
}

.add-post {
    background-image: url('https://user-images.githubusercontent.com/48317736/107711818-0722ee00-6ca7-11eb-8b41-342278e46318.png');
    width: 32px;
    height: 32px;
}

a:hover{

  text-decoration: none;

}